.backgroundImage{

    background-image: url('../../public/background.jpg'); 

    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{

    background-color: #0232c0;  
    border-radius: 20px;
    border: white 2px solid;
    padding: 15px 32px;
    font-size: 20px;
    width: 150px;
    color: white;
  

}